/* App.css */
body {
  font-family: 'Open Sans', sans-serif;
  background: #f5f5f5;
  color: #333;
  margin: 0;
  padding: 20px;
}

h4 {
  margin: 0;
}


input, button {
  font-family: inherit;
  padding: 10px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input {
  width: calc(100% - 22px); /* Adjust width for padding */
  box-sizing: border-box;
}

button {
  background: transparent;
  cursor: pointer;
  transition: background 0.3s ease;
  padding: 0 10px;
}

.app-container {
  max-width: 800px;
  margin: 30px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.app-summary {
  font-size: 1rem;
  color: #333;
  margin-bottom: 20px;
}

.app-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.app-input, .app-button {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #dcdcdc;
  border-radius: 5px;
  font-size: 1rem;
}

.app-input {
  width: 100%; /* Adjust width for padding */
  box-sizing: border-box;
}

.app-button {
  background: #2a9d8f;
  max-width: 200px;
  color: white;
  cursor: pointer;
  transition: background 0.3s ease;
}

.app-button:hover {
  background: #21867a;
}

.app-button.add-todo {
  background: #28a745; /* A green shade for add button */
}

.app-button.show-completed {
  background: #17a2b8; /* A lighter blue shade for toggling completed todos */
}
