/* TodoItem.css */
.todo-item {
  position: relative; /* Set position relative for absolute positioning */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 1rem; /* Add padding for better spacing */
  transition: box-shadow 0.2s ease-in-out;
}

.todo-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.todo-toggle {
  margin-right: 1rem;
  accent-color: #4caf50;
}

.todo-text {
  flex-grow: 1;
}

.todo-title {
  font-size: 1.2rem;
  font-weight: 600;
  color: #333;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.todo-description {
  color: #666;
  font-size: 1rem;
  margin-top: 0.5rem;
}

.todo-info {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.completed-at {
  font-size: 0.8rem;
  color: #4caf50; /* Green text */
  font-style: italic; /* Italicized */
}

.completed-time {
  margin-left: 0.5rem; /* Add some margin */
}

.todo-delete {
  padding: 0.5rem 1rem;
  background-color: #ff5252;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.todo-delete:hover {
  background-color: #ff1744;
}

.todo-add-subtask {
  padding: 0.5rem 1rem;
  margin-left: 1rem; /* Add margin if needed */
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.todo-add-subtask:hover {
  background-color: #43a047; /* Slightly darker shade on hover */
}