.todo-item {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 1rem;
  padding: 0.5rem;
  transition: box-shadow 0.2s ease-in-out;
}

.todo-item:hover {
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.todo-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.mark-complete {
  position: absolute;
  top: 1rem;
  right: 0.5rem;
  padding: 0.5rem 1rem;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.mark-complete:hover {
  background-color: #388e3c;
}

.todo-text {
  margin-bottom: auto; /* Pushes actions to the bottom */
}

.todo-action {
  display: flex;
  align-items: center;
}

.todo-title {
  display: flex;
  font-size: 1rem;
  font-weight: 600;
  margin: 0.5rem 2rem;
  color: #333;
  width: 75%;
}


.todo-title span {
  margin: 0 0 0 1.1rem;
  font-size: 0.8rem;
  font-weight: 400;
  min-width: 75px;
}

.todo-description { 
  font-size: 0.9rem;
  color: #666;
  margin: 0.5rem 2rem;
  width: 75%;
}
.todo-updated-at {
  font-size: 0.8rem;
  margin: 1rem 2rem 0 2rem;
  font-style: italic;
  color: #666;
}

.todo-divider-horizontal {
  border: none;
  height: 1px;
  background-color: #e1e1e1; /* Same as vertical line */
  width: calc(100% - 20px); /* Assuming 10px padding/margin on both sides */
  margin: 10px 0; /* Adjust margin to match your design */
}

.completed-at {
  color: #4caf50;
  font-size: 0.8rem;
  margin: 1rem 2rem 0 2rem;
  font-style: italic;
}

.todo-delete {
  position: absolute;
  display: flex;
  top: 0.5rem;  /* Adjust as needed */
  left: 0.4rem; /* Adjust as needed */
  color: #cac8c8; /* White text */
  width: 0.5rem; /* Fixed width */
  border-radius: 50%;
  height: 0.5rem; /* Fixed height */
  font-size: 0.8rem; /* Adjust the size of the 'X' */
  line-height: 0.5rem; /* Centers the 'X' vertically */
  text-align: center; /* Centers the 'X' horizontally */
  cursor: pointer;
  padding: 5px;
  transition: background-color 0.2s ease-in-out;
}

.todo-delete:hover {
  background-color: #d9d9d980;
}

.todo-add-subtask {
  background-color: transparent;
  color: #666;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.todo-add-subtask:hover {
  color: #000;
  background-color: transparent;
}
